<div class="modal-content-container">
  <div class="modal-body-custom">
    <div class="description-section" *ngIf="formDescription || subtitle">
      <p class="description-text" *ngIf="formDescription">{{ formDescription }}</p>
      <p class="text-muted mb-4" *ngIf="subtitle">{{ subtitle }}</p>
    </div>
    <form class="modal-form" (ngSubmit)="sendMsg()" #f="ngForm">
      <div class="form-fields">
        <div class="form-group-custom">
          <label class="form-label">{{'generics.Name' | translate }} *</label>
          <input type="text" class="form-input" name="userName" id="userName"
            placeholder="{{'generics.Name' | translate }}" ngModel required #userName="ngModel" autocomplete="name">
          <small class="form-error"
            *ngIf="!userName.valid && (userName.dirty || userName.touched)">{{'generics.required' | translate }}</small>
        </div>
        
        <div class="form-group-custom">
          <label class="form-label">{{'generics.Email' | translate }} *</label>
          <input type="email" class="form-input" name="email" id="email"
            placeholder="tu@email.com" ngModel required email #email="ngModel" autocomplete="email">
          <small class="form-error"
            *ngIf="!email.valid && (email.dirty || email.touched)">{{'generics.entervalidemail' | translate }}</small>
        </div>
        
        <div class="form-group-custom">
          <label class="form-label">{{'support.Message' | translate }} *</label>
          <textarea maxlength="2000" name="description" id="textarea1" rows="4"
            placeholder="{{'support.Message' | translate }}" class="form-textarea" ngModel
            required #description="ngModel" (input)="autoResize($event)"></textarea>
          <div class="char-counter">{{ descriptionLength }} / 2000</div>
          <small class="form-error"
            *ngIf="!description.valid && (description.dirty || description.touched)">{{'generics.required' | translate }}</small>
        </div>


        <div class="checkboxes-container" [attr.data-tenant]="currentTenant">
          <div class="checkbox-section" *ngIf="showSubscribeCheckbox">
            <label class="checkbox-label">
              <input type="checkbox" name="terms2" ngModel #terms2="ngModel" id="terms2" [(ngModel)]="checkSubscribe" class="checkbox-input">
              <span class="checkbox-text">{{'land.Email me' | translate }}</span>
            </label>
          </div>
          
          <div class="terms-section">
            <label class="checkbox-label">
              <input type="checkbox" name="terms" ngModel #terms="ngModel" id="terms" required [(ngModel)]="acceptTerms" class="checkbox-input">
              <span class="checkbox-text">{{'termsform.accept' | translate }} <a href="javascript:;" (click)="openModal2(termsModal)" class="terms-link">{{'termsform.terms' | translate }}</a></span>
            </label>
            <small class="form-error" *ngIf="!terms.valid && showErrorForm">{{'termsform.acceptterms' | translate }}</small>
          </div>
        </div>
        
      </div>
      
      <div class="form-actions">
        <div *ngIf="!sending" class="button-group">
          <button type="button" class="btn-cancel" (click)="closeModal()">{{'generics.Cancel' | translate }}</button>
          <button *ngIf="f.valid" class="btn-submit" type="submit">{{'support.Send' | translate }}</button>
          <button *ngIf="!f.valid" class="btn-submit" type="button" (click)="submitInvalidForm()">{{'support.Send' | translate }}</button>
        </div>
        <div *ngIf="sending" class="loading-section">
          <i class="fa fa-spinner fa-spin fa-2x"></i>
        </div>
      </div>
    </form>
  </div>
</div>

<ng-template #termsModal let-c="close" let-d="dismiss">
  <app-termsform (termsAccepted)="onTermsAccepted()"></app-termsform>
</ng-template>