<section class="white" style="padding-bottom: 70px !important;padding-top: 70px !important;background-color: #353540;">
  <div class="col-sm-12 offset-md-3 col-md-6 offset-xl-4 col-xl-4">
    <div class="card-body" style="max-width: 1200px;">
      <div class="row m-0">
        <div class="col-md-12">
          <h2 class="white card-title text-bold-500 mb-0">
            {{'menu.Contact us' | translate }}
            <hr class="hr-custom">
          </h2>
        </div>
        <div class="col-lg-12 col-md-12 py-2">
          <form class="form" (ngSubmit)="sendMsg()" #f="ngForm">
            <div class="form-body">
              <div class="">
                <div class="">
                  <div class="form-group">
                    <input type="text" class="form-control" name="userName" id="userName"
                      placeholder="{{'generics.Name' | translate }}" ngModel required #userName="ngModel">
                    <small class="form-text text-muted"
                      *ngIf="!userName.valid && (userName.dirty || userName.touched)">{{'generics.required' | translate
                      }}</small>
                  </div>
                </div>
                <div class="">
                  <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email"
                      placeholder="{{'generics.Email' | translate }}" ngModel required email #email="ngModel">
                    <small class="form-text text-muted"
                      *ngIf="!email.valid && (email.dirty || email.touched)">{{'generics.entervalidemail' | translate
                      }}</small>
                  </div>
                </div>
                <div class="">
                  <div class="form-group">
                    <textarea maxlength="2000" name="description" id="textarea1" rows="4"
                      placeholder="{{'support.Message' | translate }}" class="form-control" ngModel
                      required #description="ngModel" description (input)="autoResize($event)"></textarea>
                      <p class="float-end">{{ descriptionLength }} / 2000</p>
                    <small class="form-text text-muted"
                      *ngIf="!description.valid && (description.dirty || description.touched)">{{'generics.required' |
                      translate }}</small>
                  </div>
                </div>
                <div class="">
                  <mat-checkbox
                      class="example-margin" name="terms2" ngModel #terms2="ngModel" id="terms2"  [(ngModel)]="checkSubscribe">
                      <span class="mat-checkbox-label" >{{'land.Email me' | translate }}</span>
                  </mat-checkbox>
                </div>
                <div class="form-group">
                  <mat-checkbox
                      class="example-margin" name="terms" ngModel #terms="ngModel" id="terms" required [(ngModel)]="acceptTerms">
                      <span class="mat-checkbox-label">{{'termsform.accept' | translate }} <a class="white" style="text-decoration: underline !important;" href="javascript:;" (click)="openModal2(termsModal)">{{'termsform.terms' | translate }}</a></span>
                  </mat-checkbox>
                  <small class="text-muted d-block" *ngIf="!terms.valid && showErrorForm">{{'termsform.acceptterms' | translate }}</small>
                </div>
              </div>
            </div>
            <div *ngIf="!sending" class="center-elements">
              <div *ngIf="f.valid;then formValid else formError"></div>
              <ng-template #formValid><button class="btn btn-info round" type="submit"> {{'support.Send' |
                  translate }}</button></ng-template>
              <ng-template #formError><button class="btn btn-info round" type="button"
                  (click)="submitInvalidForm()"> {{'support.Send' | translate }}</button></ng-template>
            </div>
            <div class="form-actions" *ngIf="sending" class="center-elements">
              <span><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #termsModal let-c="close" let-d="dismiss">
  <app-termsform (termsAccepted)="onTermsAccepted()"></app-termsform>
</ng-template>