p {
  font-size: 1.1rem;
}

.ng-touched.ng-invalid {
  border-color: #A6A9AE;
}


::ng-deep .mat-checkbox-layout {
  display: block !important;
}

::ng-deep .white-checkbox .mat-checkbox-frame {
  border-color: white !important;
}

::ng-deep .modal-body.content-wrapper .mat-checkbox-frame {
  border-color: initial; // O el color que desees
}

.mat-checkbox-label {
  margin-top: 0.4em;
  white-space: normal;
  text-transform: none;
  letter-spacing: 0px;
}

@media (max-width: 768px) {
  .margin-left-0{
    margin-left: 0px !important;
  }
}


  @media ( max-width: 449px ){
    .card-body{
      padding: 0rem;
    }
    .card-title{
      font-size: 1.2rem;
    }
    p {
      font-size: 0.9rem;
    }
  }

  
  