<div class="p-2 white"style="padding-bottom: 3rem !important;padding-top: 3rem !important;background-color: #353540;">
  <div class="col-sm-12 offset-lg-2 col-lg-8">
    <div class="card-body" style="max-width: 1200px;">
      <div class="row m-0">

        <h2 class="white card-title text-bold-500 mb-0">
          {{'land.aboutUs.t7' | translate }}
          <hr class="hr-custom mb-0">
        </h2>
        <span class="text-start row margin-left-0 p-2">
          <p class="mb-0">{{'land.aboutUs.p7' | translate }}</p>
        </span>
        <div class="row align-items-center">
          <div class="col-md-6 mb-2 d-flex justify-content-center">
            <button (click)="lauchEvent('Info foundation29');openWeb();" class="btn btn-info btn-lg round"
                  type="button"><strong>{{'land.aboutUs.Who are we' | translate }}</strong>
            </button>
          </div>
          <div class="col-md-6 d-flex justify-content-center">
            <a href="https://foundation29.org" target="_blank">
              <img class="img-responsive" alt="logo Fundación 29" src='assets/img/logo-f29-white.webp' style="max-width: 200px;">
            </a>
          </div>
        </div>
        

        <h2 class="white card-title pt-4 text-bold-500 mb-0">
          {{'land.aboutUs.t0' | translate }}
          <hr class="hr-custom mb-0">
        </h2>
        <span class="text-start row margin-left-0 p-2">
          <p>{{'land.aboutUs.p0.1' | translate }}</p>
          <p>{{'land.aboutUs.p0.2' | translate }}</p>
        </span>
        <h2 class="white card-title pt-4 text-bold-500 mb-0">
          {{'land.aboutUs.t1' | translate }}
          <hr class="hr-custom mb-0">
        </h2>
        <span class="text-start row margin-left-0 p-2">
          <p>{{'land.aboutUs.p1.1' | translate }}</p>
          <p>{{'land.aboutUs.p1.2' | translate }}</p>
          <p>{{'land.aboutUs.p1.3' | translate }}</p>
        </span>
        <h2 class="white card-title pt-4 text-bold-500 mb-0">
          {{'land.aboutUs.t2' | translate }}
          <hr class="hr-custom mb-0">
        </h2>
        <span class="text-start row margin-left-0 p-2">
          <p>{{'land.aboutUs.p2.1' | translate }}</p>
          <p>{{'land.aboutUs.p2.2' | translate }}</p>
        </span>
        <h2 class="white card-title pt-4 text-bold-500 mb-0">
          {{'land.aboutUs.t3' | translate }}
          <hr class="hr-custom mb-0">
        </h2>
        <span class="text-start row margin-left-0 p-2">
          <p>{{'land.aboutUs.p3.1' | translate }}</p>
          <p>{{'land.aboutUs.p3.2' | translate }}</p>
        </span>
        <h2 class="white card-title pt-4 text-bold-500 mb-0">
          {{'land.aboutUs.t4' | translate }}
          <hr class="hr-custom mb-0">
        </h2>
        <span class="text-start row margin-left-0 p-2">
          <p [innerHTML]="'land.aboutUs.p4' | translate "></p>
        </span>
        <h2 class="white card-title pt-4 text-bold-500 mb-0">
          {{'land.aboutUs.t5' | translate }}
          <hr class="hr-custom mb-0">
        </h2>
        <span class="text-start row margin-left-0 p-2">
          <p [innerHTML]="'land.aboutUs.p5.1' | translate "></p>
          <p>{{'land.aboutUs.p5.2' | translate }} <a target="_blank" class="white text-decoration-underline" href="https://www.medrxiv.org/content/10.1101/2024.07.23.24310847v1">{{'land.aboutUs.p5.3' | translate }}</a></p>
        </span>
        
        <h2 class="white card-title pt-4 text-bold-500 mb-0">
          {{'land.aboutUs.t6' | translate }}
          <hr class="hr-custom mb-0">
        </h2>
        <span class="text-start row margin-left-0 p-2">
          <p>{{'land.aboutUs.p6.1' | translate }}</p>
          <p>{{'land.aboutUs.p6.2' | translate }}</p>
          <p>{{'land.aboutUs.p6.3' | translate }}</p>
        </span>
        <h2 class="white card-title pt-4 text-bold-500 mb-0">
          {{'land.aboutUs.implementationTitle' | translate }}
          <hr class="hr-custom mb-0">
        </h2>
        <span class="text-start row margin-left-0 p-2">
          <p>{{'land.aboutUs.implementationText1' | translate }}</p>
          <p>{{'land.aboutUs.implementationText2' | translate }}</p>
        </span>

        <div class="row mt-4 mb-4 p-3">
          <div class="col-md-4 center-elements">
            <img class="img-responsive mb-4" alt="logo SERMAS" src='assets/img/home/sermas.webp' style="max-width: 100%;">
          </div>
          <div class="col-md-8">
            <h3 class="white text-bold-500">{{'land.aboutUs.sermas.title' | translate }}</h3>
            <p>{{'land.aboutUs.sermas.text' | translate }}</p>
            <p>
              <a target="_blank" class="white text-decoration-underline" href="https://news.microsoft.com/es-es/2023/09/15/el-servicio-madrileno-de-salud-pionero-en-la-aplicacion-de-inteligencia-artificial-generativa-para-la-mejora-del-diagnostico-en-pacientes-con-enfermedades-raras/">
                {{'land.aboutUs.sermas.news1' | translate }}
              </a>
            </p>
            <p>
              <a target="_blank" class="white text-decoration-underline" href="https://www.comunidad.madrid/noticias/2025/01/12/comunidad-madrid-posibilita-acceso-6000-medicos-atencion-primaria-ia-diagnostico-enfermedades-raras">
                {{'land.aboutUs.sermas.news2' | translate }}
              </a>
            </p>
          </div>
        </div>

        <div class="row mt-4 mb-4 p-3">
          <div class="col-md-4 center-elements">
            <img class="img-responsive mb-4" alt="logo CatSalut" src='assets/img/home/logo-catsalut.webp' style="max-width: 100%;">
          </div>
          <div class="col-md-8">
            <h3 class="white text-bold-500">{{'land.aboutUs.catsalut.title' | translate }}</h3>
            <p>{{'land.aboutUs.catsalut.text' | translate }}</p>
          </div>
        </div>
        <h2 class="white card-title pt-4 text-bold-500 mb-0">
          {{'land.aboutUs.ft' | translate }}
          <hr class="hr-custom mb-0">
        </h2>
        <span class="text-start row margin-left-0 p-2">
          <p>{{'land.aboutUs.fp1' | translate }}</p>
          <p>{{'land.aboutUs.fp2' | translate }}</p>
          <p>{{'land.aboutUs.fp3' | translate }}</p>
        </span>
        <h2 class="white card-title pt-4 text-bold-500 mb-0">
          {{'land.aboutUs.fstitle' | translate }}
          <hr class="hr-custom mb-0">
        </h2>
        <span class="text-start row margin-left-0 p-2">
          <p>{{'land.aboutUs.fs1' | translate }}</p>
        </span>
        <h2 class="white card-title pt-4 text-bold-500 mb-0">
          {{'land.aboutUs.tptitle' | translate }}
          <hr class="hr-custom mb-0">
        </h2>
        <span class="text-start row margin-left-0 p-2">
          <p>{{'land.aboutUs.tp1' | translate }}</p>
          <p>{{'land.aboutUs.tp2' | translate }}</p>
          <p>{{'land.aboutUs.tp3' | translate }}</p>
        </span>
        <div class="row center-elements pad-logos">
          <div class="col-12 col-sm-12 mb-3 p-4">
            <img class="img-responsive" alt="logo Microsoft" src='assets/img/home/microsoft.webp' style="max-height: 130px !important;">
          </div>
          <!--<div class="col-12 col-sm-6 mb-3 p-4">
            <img class="img-responsive" alt="logo Google" src='assets/img/home/google.webp' style="max-height: 130px !important;">
          </div>-->
        </div>
      </div>
    </div>
</div>
</div>
<section style="padding-bottom: 3rem !important;padding-top: 3rem !important;">
  <div class="col-sm-12 offset-lg-2 col-lg-8">
    <div class="card-body" style="max-width: 1200px;">
      
      <div class="row m-0">
        <h2 class="primary card-title pt-4 text-bold-500 mb-0">
          {{'land.aboutUs.t8' | translate }}
          <hr class="hr-custom mb-0">
        </h2>
        <span class="text-start row margin-left-0 p-2">
          <p>{{'land.aboutUs.p8' | translate }}</p>
        </span>
        <div class="row center-elements pad-logos">
          <div class="col-12 col-sm-4 mb-3 p-4">
            <img class="img-responsive" alt="logo global commission" src='assets/img/home/header-logo.webp'>
          </div>
          <div class="col-12 col-sm-4 mb-3 p-4">
            <img class="img-responsive" alt="logo takeda" src='assets/img/home/takeda.webp'>
          </div>
          <div class="col-12 col-sm-4 mb-3 p-4">
            <img class="img-responsive" alt="logo sanofi" src='assets/img/home/sanofi.webp'>
          </div>
          <div class="col-12 col-sm-4 mb-3 p-4">
            <img class="img-responsive" alt="logo ucb" src='assets/img/home/ucb.webp'>
          </div>
          <div class="col-12 col-sm-4 mb-3 p-4">
            <img class="img-responsive" alt="logo KyowaKirin" src='assets/img/home/KyowaKirin.webp'>
          </div>
          <div class="col-12 col-sm-4 mb-3 p-4">
            <img class="img-responsive" alt="logo italfarmaco" src='assets/img/home/italfarmaco.webp'>
          </div>
        </div>
        <h2 class="primary card-title pt-4 text-bold-500 mb-0">
          {{'land.aboutUs.t9' | translate }}
          <hr class="hr-custom mb-0">
        </h2>
        <span class="text-start row margin-left-0 p-2">
          <p>{{'land.aboutUs.p9.1' | translate }}</p>
        </span>
      </div>
    </div>
  </div>
</section>
<app-send-msg></app-send-msg>