<a id="initsteps" class="anchorSteps"></a>
<div class="p-2 vertical-center background-dark">
  <section *ngIf="currentStep == 1" class="col-12 d-flex flex-column">
    <div class="mt-4">
      <div class="col-sm-12 offset-md-2 col-md-8  justify-content-center align-items-center text-center">
        <h2 class="white" (click)="changeModeFunctionality()">{{'land.title' | translate }}</h2>
        <div *ngIf="modeFunctionality" class="badge bg-danger pulse-animation mb-3">
          <i class="fa fa-ambulance me-1"></i> ER
        </div>
      </div>
    </div>
      <div
        class="col-sm-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 justify-content-center align-items-center text-center">
        <div class="search">
          <textarea #autoajustable id="textarea1" type="text" class="autoajustable searchTerm data-hj-allow"
            [(ngModel)]="medicalTextOriginal" name="medicalTextOriginal" placeholder="{{'land.Placeholder help' | translate }}"
            (ngModelChange)="resizeTextArea()" (input)="resizeTextArea()" (click)="focusTextArea()" (blur)="restorePlaceholder()"></textarea>
        </div>
        <div class="text-end text-muted small mt-1">
          <span [class.text-danger]="countCharacters(medicalTextOriginal) > 8000" 
                [class.text-warning]="countCharacters(medicalTextOriginal) > 3000 && countCharacters(medicalTextOriginal) <= 8000">
            {{ countCharacters(medicalTextOriginal) }} {{'generics.characters' | translate}}
            <span class="ms-1" *ngIf="countCharacters(medicalTextOriginal) > 2000">
              ({{'generics.recommended' | translate}}: 2000-3000)
            </span>
          </span>
        </div>
      </div>
      <div
        class="col-sm-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 justify-content-center align-items-center text-center">
        <button *ngIf="!modeFunctionality" type="submit" class="btn btn-lg btn-info" (click)="checkPopup(contentIntro)"
          [attr.title]="(medicalTextOriginal.length<5) ? getLiteral('land.placeholderError') : getLiteral('land.Search')"
          [attr.aria-label]="(medicalTextOriginal.length<5) ? getLiteral('land.placeholderError') : getLiteral('land.Search')"
          [disabled]="callingOpenai">
          {{'land.Search' | translate }}
        </button>
        <button *ngIf="modeFunctionality" type="submit" class="btn btn-lg btn-info" (click)="handleERResponse(contentFollowUpQuestions)"
          [attr.title]="(medicalTextOriginal.length<5) ? getLiteral('land.placeholderError') : getLiteral('land.Search')"
          [attr.aria-label]="(medicalTextOriginal.length<5) ? getLiteral('land.placeholderError') : getLiteral('land.Search')"
          [disabled]="callingOpenai">
          {{'land.Search' | translate }}
        </button>
      </div>
      <div
        class="mt-3 col-sm-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 justify-content-center align-items-center text-center mb-4">
        <span class="white pointer help-link" (click)="showContentInfoAPP(contentInfoAPP)"
        [attr.title]="getLiteral('land.Need help')" [attr.aria-label]="getLiteral('land.Need help')">{{'land.Need help' |
          translate }}</span>
      </div>
  </section>
  <section *ngIf="currentStep == 2" class="offset-sm-1 col-sm-10 offset-md-2 col-md-8 mb-5 mt-2">
    <a id="step2"></a>
    <div class="row">
      <span class="col-md-12 mt-4 center-elements" *ngIf="topRelatedConditions.length>0">
        <button type="button" class="mt-2 btn btn-info me-1" (click)="newPatient()">{{'land.New patient' | translate
          }}</button>
        <button type="button" class="mt-2 btn btn-info ms-1 me-1"
          (click)="openDescripModal(contentEditDescription)">{{'land.Edit description' | translate }}</button>
        <span *ngIf="hasAnonymize" class="ms-1"><button class="mt-2 btn btn-info me-2"
            (click)="openAnonymize(contentviewDoc)">
            <em class="fa-solid fa-user-shield"></em> {{'diagnosis.View anonymized text' | translate }}</button>
        </span>
      </span>
      <div class="col-12">
        <div class="card rounded-lg border shadow">
          <span class="mt-0 mb-0">
            <div class="section maintxt min-height-0">
              <div class="col-md-12 p-2 mb-0 white background-dark" aria-labelledby="get diagnosis">
                <div>
                  <div>
                    <div id="headerTable" class="border-top-none">
                      <span class="row">
                        <span class="col-12">
                          <h4 class="white card-title text-bold-700 margin-top-0">{{'diagnosis.Proposed diagnoses' |
                            translate }}</h4>
                          <span class="float-end">
                            <ng-container *ngIf="!sendingVote; else loadingSpinner">
                              <button class="me-1 btn btn-success" (click)="vote('up', contentFeedbackDown)"
                                [disabled]="sendingVote || callingAnonymize" title="Vote up">
                                <em class="icon-hand white fa fa-2x fa-thumbs-up"></em>
                              </button>
                              <button class="ms-1 btn btn-info" (click)="vote('down', contentFeedbackDown)"
                                [disabled]="sendingVote || callingAnonymize" title="Vote down">
                                <em class="icon-hand fa fa-2x fa-thumbs-down"></em>
                              </button>
                            </ng-container>
                            <ng-template #loadingSpinner>
                              <span class="d-block">
                                <em class="fa fa-spinner fa-spin fa-fw"></em>
                              </span>
                            </ng-template>
                          </span>
                          <span class="mt-1 font-small-3 d-block">1. {{'land.Indicates the quality of the result' |
                            translate }}</span>
                          <span class="mt-1 font-small-3 d-block">2. {{'diagnosis.Click on the disease to see more
                            options' | translate }}</span>
                          <span class="mt-1 font-small-3 d-block">3. <strong>{{'land.Point3.1' | translate }}</strong> 
                            <div class="mt-2">
                              <button class="me-2 mb-2 btn btn-danger btn-sm" (click)="handleFollowUpResponse(contentFollowUpQuestions)">
                                <i class="fa fa-comments me-2"></i>{{'diagnosis.Improve patient description' | translate }}
                              </button>
                              <button *ngIf="!model" class="mb-2 btn btn-primary btn-sm" (click)="callNewModel()">
                                <i class="fa fa-search me-2"></i>{{'diagnosis.Try our advanced mode' | translate }}
                              </button>
                              <button *ngIf="model" class="mb-2 btn btn-primary btn-sm" (click)="callOldModel()"><i class="fa-solid fa-person-running-fast me-2"></i>{{'diagnosis.Try our faster mode' | translate }}</button>
                            </div>
                          </span>
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="table-cont" *ngIf="topRelatedConditions.length>0">
                <table class="table mb-0 bg-white" aria-labelledby="rare disease">
                  <tbody>
                    <tr *ngFor="let disease of topRelatedConditions ; let i = index" class="d-flex">
                      <td class="col-md-12 p-2 diseaseClass pointer"
                        (click)="showMoreInfoDiseasePopup(i, contentInfoDisease);lauchEvent('ShowMoreInfoDiseasePopup');">
                        <span class="float-end ms-1">
                          <button class="btn-outline-info btn btn-sm me-1 mb-0 btn-fab round"
                            title="{{'generics.More information' | translate }}"
                            >
                            <em class="fa fa-info w-13"></em>
                          </button>
                        </span>
                        <span class="custom-bold pointer"
                          (click)="showMoreInfoDiseasePopup(i, contentInfoDisease);lauchEvent('ShowMoreInfoDiseasePopup');"
                          title="{{'generics.More information' | translate }} ({{disease.name}})"
                          [innerHTML]="disease.content"></span>
                        <div *ngIf="disease.name!==''">
                          <div *ngIf="disease.url!==''" class="col-12 center-elements mt-2">
                            <a class="btn btn-sm btn-info mb-1" [href]="disease.url"
                              target="_blank">{{'diagnosis.SponsorMsg' | translate }} <em
                                class="ms-1 ft-external-link"></em></a>
                          </div>
                        </div>

                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="text-center pt-3">
                  <p class="text-muted mb-0" *ngIf="model"><strong>{{'land.Results generated with the advanced model' | translate }}</strong></p>
                  <p class="text-muted mb-0" *ngIf="!model"><strong>{{'land.Results generated with the faster model' | translate }}</strong></p>
                </div>
                <p class="text-muted text-center">{{'diagnosis.advise' | translate }}</p>
              </div>
              <span *ngIf="topRelatedConditions.length==0">
                <p>{{'land.nofound' | translate }}</p>
              </span>
              <div class="col-md-12 mb-0 white p-2 center-elements background-dark">
                <button class="btn btn-info mt-2 mb-2" (click)="loadMore()">{{'land.Load more' | translate }}</button>
                <span class="optionsResults mt-2 mb-2">
                  <em class="mt-1 fa fa-clipboard fa-2x info me-2 pointer" title="{{'land.Copy results' | translate }}"
                    (click)="copyResults()"></em>
                  <em class="mt-1 fa fa-2x fa-download info ms-1 pointer" [class.not-allowed]="callingAnonymize"
                    [attr.title]="(callingAnonymize) ? getLiteral('generics.Please wait') : getLiteral('land.Download results')"
                    [attr.aria-label]="(callingAnonymize) ? getLiteral('generics.Please wait') : getLiteral('land.Download results')"
                    (click)="downloadResults()"></em>
                </span>
              </div>
              <div class="pt-4 border-top text-center" *ngIf="topRelatedConditions.length>0">
                
                <div>
                  <p class="text-dark"><strong>{{'diagnosis.Not satisfied with the results?' | translate }}</strong></p>
                  <div class="row center-elements p-2 mb-4">
                    <div class="col-md-6 mb-2">
                      <button class="btn btn-danger w-100" (click)="handleFollowUpResponse(contentFollowUpQuestions)">
                        <i class="fa fa-comments me-2"></i>{{'diagnosis.Improve patient description' | translate }}
                      </button>
                      
                    </div>
                    <div class="col-md-6 mb-2">
                      <button *ngIf="!model" class="btn btn-primary w-100" (click)="callNewModel()">
                        <i class="fa fa-search me-2"></i>{{'diagnosis.Try our advanced mode' | translate }}
                      </button>
                      <button *ngIf="model" class="btn btn-primary w-100" (click)="callOldModel()"><i class="fa-solid fa-person-running-fast me-2"></i>{{'diagnosis.Try our faster mode' | translate }}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="background-dark">
  <app-testimonials></app-testimonials>
</div>

<ng-template #contentInfoDisease let-c="close" let-d="dismiss" appendTo="body">
  <div class="modal-header" id="idHeader">
    <div class="content-header text-start">
      <h4 class="card-title text-bold-700 mb-0 primary">{{ selectedDisease }}</h4>
    </div>
    <button type="button" class="btn-close" title="Close" (click)="closeDiseaseUndiagnosed()">
    </button>
  </div>
  <div class="modal-body content-wrapper p-2 mt-2">
    <p>{{'land.Select a question' | translate }}:</p>
    <div class="list-group mb-2">
      <button class="list-group-item list-group-item-action" *ngFor="let question of questions; let i = index"
        (click)="showQuestion(question, i)" [disabled]="loadingAnswerOpenai" title="{{question.question | translate}}">
        <div class="d-flex w-100 justify-content-between">
          <span class="mb-1">{{question.question | translate}}</span>
        </div>
      </button>
      <div *ngIf="loadingAnswerOpenai" class="mt-3 center-elements">
        <p>{{'land.swal' | translate }}</p>
        <em class="fa fa-spinner info fa-2x fa-spin fa-fw"></em>
        <p class="info pointer" (click)="cancelCallQuestion();">{{'generics.Cancel' | translate }}</p>
      </div>
      <div *ngIf="!loadingAnswerOpenai && answerOpenai!==''" class="mt-3">
        <h6>{{selectedQuestion | translate}}</h6>
        <div [innerHTML]="answerOpenai" class="margin-bottom-2"></div>
      </div>
      <div *ngIf="!loadingAnswerOpenai && symptomsDifferencial.length>0" class="mt-3">
        <h6>{{'land.Select the symptoms' | translate }}:</h6>
        <div class="symptoms-grid">
          <div *ngFor="let symptom of symptomsDifferencial; let j = index" class="symptom-item">
            <mat-checkbox class="example-margin" name="customCheck{{j}}" [(ngModel)]="symptom.checked"
              id="customCheck{{j}}">
              <span class="symptom-text">{{symptom.name}}</span>
            </mat-checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 center-elements">
            <button type="button" class="btn btn-info round" (click)="recalculateDifferencial()"
              [disabled]="loadingAnswerOpenai">{{'land.Recalculate' | translate }}</button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <div class="col-md-12 center-elements">
      <button type="button" class="btn btn-secondary round" (click)="closeDiseaseUndiagnosed()">{{'generics.Close' |
        translate }}</button>
    </div>
  </div>
</ng-template>
<!-- Botón oculto que se activará automáticamente cuando se reciban parámetros -->
<button id="hiddenCheckPopupButton" style="display:none;" (click)="checkPopup(contentIntro)"></button>
<ng-template #contentIntro let-c="close" let-d="dismiss" id="contentIntro" aria-labelledby="contentIntro"
  appendTo="body">
  <div class="modal-header">
    <button type="button" class="btn-close" title="Close" (click)="closePopup()">
    </button>
  </div>

  <a id="topmodal"></a>
  <div class="modal-body">
    <div class="row text-start">
      <div class="card-body">


        <div class="col-md-12">
          <div class="p-2">
            <span class="" [innerHTML]="'land.disclaimer' | translate"></span>
          </div>
        </div>
      </div>
      <div class="col-md-12 center-elements">
        <mat-checkbox class="example-margin" [(ngModel)]="terms2" (change)="changeTerm($event)">
          <label class="">
            <span (click)="showOptions()">{{'land.check' | translate }}</span>
          </label>
        </mat-checkbox>
      </div>
    </div>
  </div>
  <div class="modal-footer row">
    <div class="form-actions col-md-12 center-elements">
      <button type="button" class="btn round btn-info" (click)="closePopup();">{{'generics.Close' | translate
        }}</button>
    </div>
  </div>
</ng-template>
<ng-template #contentFeedbackDown let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="card-title text-bold-500 primary">{{'land.msgimprove' | translate }}</h4>
  </div>
  <div class="modal-body">
    <form class="form" #f="ngForm">
      <div class="form-group">
        <span>{{'land.whynotexpected' | translate }}*</span>
        <div>
          <textarea maxlength="2000" #autoajustable id="textareadescr" type="text" name="FeedBack1input" required #FeedBack1input="ngModel" ngModel
            class="autoajustable data-hj-allow w-100" [(ngModel)]="feedBack1input" rows="4"
            (input)="autoResize($event)"></textarea>
          <small class="form-text text-muted danger" *ngIf="!FeedBack1input.valid && showErrorForm">{{'generics.required' | translate
            }}</small>
          <p class="float-end">{{ feedBack1input.length }} / 2000</p>
        </div>
      </div>
      <div class="form-group">
        <input class="form-control" type="email" id="Email" name="Email" placeholder="{{'generics.Email' | translate }}"
          ngModel required #Email="ngModel" email [(ngModel)]="feedBack2input">
        <small class="danger" *ngIf="!Email.valid && showErrorForm">{{'generics.entervalidemail' | translate }}</small>
      </div>
      <div class="">
        <mat-checkbox class="example-margin" name="terms2" ngModel #terms2="ngModel" id="terms2"
          [(ngModel)]="checkSubscribe">
          <span class="custom-text">{{'land.Email me' | translate }}</span>
        </mat-checkbox>
      </div>
      <div class="form-group">
        <mat-checkbox class="example-margin" name="terms" ngModel #terms="ngModel" id="terms" required
          [(ngModel)]="acceptTerms">
          <span class="custom-text">{{'termsform.accept' | translate }} <a href="javascript:;"
              (click)="openModal2(termsModal)">{{'termsform.terms' | translate }}</a></span>
        </mat-checkbox>
        <small class="danger d-block" *ngIf="!terms.valid && showErrorForm">{{'termsform.acceptterms' | translate
          }}</small>
      </div>
      <div *ngIf="!sending" class="mt-2 col-md-12 center-elements">
        <div *ngIf="f.valid;then formValid else formError"></div>
        <button class="btn btn-secondary ms-1" type="button" (click)="closeFeedback()">{{'generics.Cancel' | translate
          }}</button>
        <ng-template #formValid><button class="btn btn-info me-1"
            (click)="onSubmitFeedbackDown();"><strong>{{'generics.Send' | translate }}</strong></button></ng-template>
        <ng-template #formError><button class="btn btn-info me-1" type="button"
            (click)="submitInvalidForm()"><strong>{{'generics.Send' | translate }}</strong></button></ng-template>
      </div>
      <div class="form-actions col-md-12 center-elements" *ngIf="sending">
        <span><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></span>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #termsModal let-c="close" let-d="dismiss">
  <a id="initpopup2" class="anchorSteps"></a>
  <app-termsform (termsAccepted)="onTermsAccepted()"></app-termsform>
</ng-template>

<ng-template #contentInfoAPP let-c="close" let-d="dismiss" appendTo="body">
  <div class="modal-header" id="idHeader">
    <button type="button" class="btn-close" title="Close" (click)="closeDiseaseUndiagnosed()">
    </button>
  </div>
  <div class="modal-body content-wrapper p-2">
    <div class="row center-elements pad-logos">
      <div class="col-lg-4 mb-3 pt-4">
        <em class="fas fa-gear fa-2x"></em>
        <h4 class="mt-2 mb-0">{{'land.p1.title' | translate }}</h4>
        <span>{{'land.p1.subtitle' | translate }}</span>
        <div class="card custom-card-1 custom-card-2 p-2 pointer"
          (click)="copyText('opt1');lauchEvent('Copy sample 1');">
          <span>{{'land.p1.1' | translate }}</span> <em class="fa-solid fa-arrow-right-long"></em>
        </div>
        <div class="card custom-card-1 custom-card-2 p-2 pointer"
          (click)="copyText('opt2');lauchEvent('Copy sample 2');">
          <span>{{'land.p1.2' | translate }}</span> <em class="fa-solid fa-arrow-right-long"></em>
        </div>
      </div>
      <div class="col-lg-4 mb-3 pt-4">
        <em class="fa fa-rocket fa-2x"></em>
        <h4 class="mt-2 mb-0">{{'land.p2.title' | translate }}</h4>
        <span>{{'land.p2.subtitle' | translate }}</span>
        <div class="card custom-card-1 p-2">
          <span>{{'land.p2.1' | translate }}</span>
        </div>
        <div class="card custom-card-1 p-2">
          <span>{{'land.p2.2' | translate }}</span>
        </div>
        <div class="card custom-card-1 p-2">
          <span>{{'land.p2.3' | translate }}</span>
        </div>
        <div class="card custom-card-1 p-2">
          <span>{{'land.p2.4' | translate }}</span>
        </div>
      </div>
      <div class="col-lg-4 mb-3 pt-4">
        <em class="fa fa-exclamation-triangle fa-2x"></em>
        <h4 class="mt-2 mb-0">{{'land.p3.title' | translate }}</h4>
        <span>{{'land.p3.subtitle' | translate }}</span>
        <div class="card custom-card-1 p-2">
          <span>{{'land.p3.1' | translate }}</span>
        </div>
        <div class="card custom-card-1 p-2">
          <span>{{'land.p3.2' | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #contentviewDoc id="contentviewDoc" let-c="close" let-d="dismiss" appendTo="body">
  <div class="modal-header" id="idHeader">
    <div class="content-header text-start">
      <h4 class="card-title text-bold-700 mb-0 primary">{{'diagnosis.Anonymized text' | translate }}</h4>
    </div>
    <button type="button" class="btn-close" title="Close" (click)="closeModal();">
    </button>
  </div>
  <div class="modal-body content-wrapper p-2" id="idBody">
    <div class="p-1">
      <div>
        <div class="">
          <div *ngIf="resultAnonymized.length >=1" class="text-justify textExtractedNcr"
            [innerHTML]="resultAnonymized | safe: 'html'"></div>
          <div *ngIf="resultAnonymized.length < 1">
            {{'home.placeholderError' | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #contentEditDescription let-c="close" let-d="dismiss" appendTo="body">
  <div class="modal-header" id="idHeader">
    <div class="content-header text-start">
      <h4 class="card-title text-bold-700 mb-0 primary">{{'land.Edit description' | translate }}</h4>
    </div>
    <button type="button" class="btn-close" title="Close" (click)="closeModal();">
    </button>
  </div>
  <div class="modal-body content-wrapper p-2" id="idBody">
    <div class="p-1">
      <div>
        <div class="">
          <div class="form-group mb-0">
            <textarea #autoajustable2 id="textareaedit" rows="4" type="text" class="autoajustable searchTerm data-hj-allow"
              [(ngModel)]="editmedicalText" name="editmedicalText" placeholder="{{'land.Placeholder help' | translate }}"
              (input)="autoResize($event)" (click)="focusTextArea()" (blur)="restorePlaceholder()"></textarea>
          </div>
          <div class="text-end text-muted small">
            <span [class.text-danger]="countCharacters(editmedicalText) > 8000" 
                  [class.text-warning]="countCharacters(editmedicalText) > 3000 && countCharacters(editmedicalText) <= 8000">
              {{ countCharacters(editmedicalText) }} {{'generics.characters' | translate}}
              <span class="ms-1" *ngIf="countCharacters(editmedicalText) > 2000">
                ({{'generics.recommended' | translate}}: 2000-3000)
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="col-md-12 center-elements">
        <button type="button" class="me-1 btn btn-secondary round" (click)="closeModal();">{{'generics.Cancel' | translate
          }}</button>
        <button type="button" class="ms-1 btn btn-info round" (click)="checkText()"
          [attr.title]="(editmedicalText.length<15) ? getLiteral('land.placeholderError') : getLiteral('land.Recalculate')"
          [attr.aria-label]="(editmedicalText.length<15) ? getLiteral('land.placeholderError') : getLiteral('land.Recalculate')"
          [disabled]="callingOpenai">{{'land.Recalculate' | translate }}</button>
      </div>
    </div>
  </div>
</ng-template>

<!-- Modal para preguntas de seguimiento -->
<ng-template #contentFollowUpQuestions let-c="close" let-d="dismiss">
  <div class="modal-header" id="topmodal">
    <h4 class="modal-title">{{ 'land.followup.modal.title' | translate }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="skipFollowUpQuestions()"></button>
  </div>
  <div class="modal-body">
    <div *ngIf="loadingFollowUpQuestions" class="text-center">
      <p>{{ 'land.followup.modal.loading' | translate }}</p>
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    
    <div *ngIf="!loadingFollowUpQuestions">
      <p>{{ 'land.followup.modal.description' | translate }}</p>
      
      <div class="mb-4" *ngFor="let question of followUpQuestions; let i = index">
        <div class="form-group">
          <label class="form-label">{{ question }}</label>
          <textarea 
            class="form-control" 
            rows="2" 
            [placeholder]="'land.followup.modal.answer_placeholder' | translate" 
            [(ngModel)]="followUpAnswers[i]"
            (input)="updateFollowUpAnswer(i, followUpAnswers[i])">
          </textarea>
        </div>
      </div>
      
      <div class="alert alert-info" *ngIf="followUpQuestions.length === 0">
        {{ 'land.followup.modal.no_questions' | translate }}
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="skipFollowUpQuestions()">
      {{ 'land.followup.modal.skip' | translate }}
    </button>
    <button 
      type="button" 
      class="btn btn-primary" 
      [disabled]="!hasAnswers() || processingFollowUpAnswers" 
      (click)="processFollowUpAnswers()">
      <span *ngIf="!processingFollowUpAnswers">{{ 'land.followup.modal.submit' | translate }}</span>
      <span *ngIf="processingFollowUpAnswers">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        {{ 'land.followup.modal.processing' | translate }}
      </span>
    </button>
  </div>
</ng-template>

<style>
  .pulse-animation {
    animation: pulse 2s infinite;
  }
  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(220, 53, 69, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(220, 53, 69, 0);
    }
  }
</style>