<a id="initsteps" class="anchorSteps"></a>
<div class="vertical-center" style="background-color: #353540;">
  <section *ngIf="currentStep.stepIndex == 1" class="col-12 d-flex flex-column">
    <div class="row mt-4">
      <div class="col-sm-12 offset-md-2 col-md-8  justify-content-center align-items-center text-center">
        <h2 class="white">{{'land.title' | translate }}</h2>
      </div>
    </div>
    <div class="row">
      <div
        class="col-sm-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 justify-content-center align-items-center text-center">
        <!--<p class="mb-0 mt-2" [innerHTML]="'land.titleOptions' | translate "></p>
        <p class="">
          <mat-checkbox id="selectorRare" class="selectorrare" (change)="selectorRareEvent($event.checked)" [(ngModel)]="selectorRare">
            <strong>{{'land.opt2' | translate }}</strong>
          </mat-checkbox>
        </p>-->
        <div class="search">
          <textarea #autoajustable id="textarea1" type="text" class="autoajustable searchTerm data-hj-allow"
            [(ngModel)]="medicalText" name="medicalText" placeholder="{{'land.Type here' | translate }}"
            (ngModelChange)="resizeTextArea()"></textarea>
        </div>

        <p class="">{{'land.Recommendations' | translate }}</p>
      </div>
      <a id="optioninput1"></a>
    </div>
    <div class="row">
      <div
        class="col-sm-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 justify-content-center align-items-center text-center">
        <button type="submit" class="btn btn-lg btn-info" (click)="checkPopup(contentIntro)"
          [attr.title]="(medicalText.length<5) ? getLiteral('land.placeholderError') : getLiteral('land.Extract')"
          [disabled]="callingOpenai">
          {{'land.Search' | translate }}
        </button>

      </div>
      <div
        class="mt-3 col-sm-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 justify-content-center align-items-center text-center mb-4">
        <span class="white pointer" (click)="showContentInfoAPP(contentInfoAPP)" style="font-size: 20px;font-weight: 700 !important;text-decoration: underline !important;">{{'land.Need help' | translate }}</span>
      </div>

    </div>
  </section>
  <section *ngIf="currentStep.stepIndex == 2" class="offset-sm-1 col-sm-10 offset-md-2 col-md-8 mb-5 mt-2">
    <a id="step2"></a>
    <div class="row">
      <span class="col-md-12 mt-4 center-elements" *ngIf="topRelatedConditions.length>0">
        <button type="button" class="mt-2 btn btn-info mr-1" (click)="newPatient()">{{'land.New patient' | translate }}</button>
        <button type="button" class="mt-2 btn btn-info ml-1 mr-1" (click)="openDescripModal(contentEditDescription)">{{'land.Edit description' | translate }}</button>
        <button type="button" class="mt-2 btn btn-info ml-1 mr-1" (click)="goPrevious()">{{'land.Edit description' | translate }}</button>
        
        <span *ngFor="let option of options; let i = index">
          <button type="button" class="mt-2 ml-1 mr-1 btn btn-info" (click)="recalculate(i);">{{option.label}}</button>
        </span>
        <span *ngIf="hasAnonymize" class="ml-1"><button class="mt-2 btn btn-info mr-2" (click)="openAnonymize(contentviewDoc)">
          <em class="fa-solid fa-user-shield"></em> {{'diagnosis.View anonymized text' | translate }}</button>
        </span>
      </span>
      <a id="optionssteps"></a>
      <span class="col-md-12 mt-2" *ngIf="showInputRecalculate">
        <label>{{optionSelected.description}} </label>
        <div class="search">
          <textarea #autoajustable2 id="textarea2" type="text" class="autoajustable2 searchTerm data-hj-allow"
            [(ngModel)]="medicalText2" name="medicalText2" placeholder="{{'land.Type here' | translate }}"
            (ngModelChange)="resizeTextArea2()"></textarea>

        </div>
        <div class="mt-2">
          <button type="button" class="btn btn-secondary mr-1" (click)="cancelEdit()">{{'generics.Cancel' | translate
            }}</button>
          <button type="submit" class="btn btn-info ml-1" (click)="verifCallOpenAi2();" [disabled]="callingOpenai"
            [attr.title]="(medicalText2.length==0) ? getLiteral('land.placeholderError') : getLiteral('land.Extract')">
            <span>Buscar</span>
            <em *ngIf="!callingOpenai" class="ml-1 fa fa-search"></em>
            <em *ngIf="callingOpenai" class="ml-1 fa fa-spinner fa-spin fa-fw"></em>
          </button>
        </div>
      </span>
      <div class="col-12">
        <div class="card rounded-lg border shadow">
          <span class="mt-0 mb-0">
            <div class="section maintxt" style="min-height:0px;">
                <table class="col-md-12 table mb-0 white" aria-labelledby="get diagnosis" style="background-color: #353540;">
                  <thead>
                    <tr>
                      <th id="headerTable" style="border-top-style: none;">
                        <span class="row">
                          <span class="col-12">
                            <h4 class="white card-title text-bold-700" style="margin-top: 0rem !important;">{{'diagnosis.Proposed diagnoses' | translate }}</h4>
                            <span class="float-right">
                              <span *ngIf="!sendingVote">
                                <button class="mr-1 btn btn-success" (click)="vote('up', contentFeedbackDown)" [disabled]="sendingVote || callingAnonymize"><em class="icon-hand white fa fa-2x fa-thumbs-up"></em></button>
                                <button class="ml-1 btn btn-info" (click)="vote('down', contentFeedbackDown)" [disabled]="sendingVote || callingAnonymize"><em class="icon-hand fa fa-2x fa-thumbs-down"></em></button>
                              </span>
                              <span *ngIf="sendingVote" class="d-block"><em class="fa fa-spinner fa-spin fa-fw"></em></span>
                            </span>
                            <span class="mt-1 font-small-3 d-block">1. {{'land.Indicates the quality of the result' | translate }}</span>
                            <span class="mt-1 font-small-3 d-block">2. {{'diagnosis.Click on the disease to see more options' | translate }}</span>
                          </span>                          
                        </span>
                      </th>
                    </tr>
                  </thead>
                </table>
                <div class="table-cont" *ngIf="topRelatedConditions.length>0">
                  <table class="table mb-0 bg-white" aria-labelledby="rare disease">
                    <tbody>
                      <tr *ngFor="let disease of topRelatedConditions ; let i = index" class="d-flex">
                        <td class="col-md-12 diseaseClass pointer" (click)="showMoreInfoDiseasePopup(i, contentInfoDisease);lauchEvent('ShowMoreInfoDiseasePopup');">
                          <span class="float-right ml-1">
                            <button
                            class="btn-outline-info btn btn-sm mr-1 mb-0 btn-fab round"
                            title="{{'generics.More information' | translate }}">
                            <em class="fa fa-info w-13"></em>
                          </button>
                          </span>
                          <span class="custom-bold" (click)="showMoreInfoDiseasePopup(i, contentInfoDisease);lauchEvent('ShowMoreInfoDiseasePopup');"
                          style="cursor: pointer;" title="{{'generics.More information' | translate }} ({{disease.name}})"  [innerHTML]="disease.content"></span>
                          <div *ngIf="disease.name!=''">
                            <div *ngIf="disease.url!=''" class="col-12 center-elements mt-2">
                              <a class="btn btn-sm btn-primary mb-1" [href]="disease.url" target="_blank">{{'diagnosis.SponsorMsg' | translate }} <em class="ml-1 ft-external-link"></em></a>
                            </div>
                          </div>
                          
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="pt-2 border-top text-muted">
                    <p class="ml-2">{{'diagnosis.advise' | translate }}</p>
                  </div>
                </div>
                <span *ngIf="topRelatedConditions.length==0">
                  <p>{{'land.nofound' | translate }}</p>
                </span>
                <div class="col-md-12 mb-0 white p-2 center-elements" style="background-color: #353540;">
                  <!--<span *ngIf="!selectorRare" class="mt-2 mb-2"><button class="btn btn-info mr-2" (click)="selectorRareEvent2(true)">{{'land.Show common diseases' | translate }}</button></span>
                  <span *ngIf="selectorRare" class="mt-2 mb-2"><button class="btn btn-info mr-2" (click)="selectorRareEvent2(false)">{{'land.Show rare diseases' | translate }}</button></span>-->
                  <button class="btn btn-info mt-2 mb-2" (click)="loadMore()">{{'land.Load more' | translate }}</button>
                  <span class="optionsResults mt-2 mb-2">
                    <em class="mt-1 fa fa-clipboard fa-2x info mr-2" title="{{'land.Copy results' | translate }}"
                    (click)="copyResults()" style="cursor: pointer;"></em>
                    <em class="mt-1 fa fa-2x fa-download info ml-1" [class.not-allowed]="callingAnonymize" [attr.title]="(callingAnonymize) ? getLiteral('generics.Please wait') : getLiteral('land.Download results')"
                    (click)="downloadResults()"
                    style="cursor: pointer;"></em>
                  </span>
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>
  </section>
</div>
<!--<div class="">
  <div type="white" class="p-2 mb-0">
    <div class="center-elements pb-2">
      <span class="pointer" style="text-decoration: underline !important;color: #b30000;" (click)="openSupport(contentSubs);lauchEvent('openSupport');">{{'land.Subscribe or send us a message' | translate }}</span>
    </div>
    <div class="center-elements border-top pt-2 d-md-none">
      <a class="black mr-2 text-decoration-underline" routerLink="/aboutus" (click)="lauchEvent('Page - About us')">
        {{'menu.About us' | translate }}
      </a>
      <a class="ml-2 btn btn-info round white mb-0 mt-1 btn-sm" style="width: 120px;" href="https://www.foundation29.org/donate/" target="_blank" (click)="lauchEvent('Page - Donate')">
        {{'land.Donate' | translate }} <em class="ml-1 fa fa-heart"></em>
      </a>
    </div>
  </div>
</div>-->
<!--<div class="pt-2" style="background: #ffffff;">
  <div class="row offset-lg-1 col-lg-10 margin-0 text-center">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-4">
          <p>
            <a href="javascript:;" class="underline" (click)="openModal(policyPanel)">
              <span>{{'registration.Privacy Policy' | translate }}</span>
            </a>
          </p>
        </div>
        <div class="col-md-4">
          <p>
            <span class="pointer underline" (click)="openSupport(contentSubs);lauchEvent('openSupport');">{{'land.Subscribe or send us a message' | translate }}</span>
          </p>

        </div>
        <div class="col-md-4">
          <p>
            <a href="javascript:;" class="underline" (click)="openModal(cookiesPanel)">
              <span>{{'cookies.title' | translate }}</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>-->
<ng-template #cookiesPanel let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'cookies.title' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="px-3">
      <div class="form-body">
        <div class="row">
          <div class="col-sm-12">
            <h6 class="pt-2 text-bold-600">{{'cookies.t1' | translate }}</h6>
            <p [innerHTML]="'cookies.p1.1' | translate "></p>
            <p>{{'cookies.p1.2' | translate }}</p>
            <h6 class="pt-2 text-bold-600">{{'cookies.t2' | translate }}</h6>
            <p>{{'cookies.p2.1' | translate }}</p>
            <h6 class="pt-2 text-bold-600">{{'cookies.t3' | translate }}</h6>
            <p>{{'cookies.p3.1' | translate }}</p>
            <h6 class="pt-2 text-bold-600">{{'cookies.t4' | translate }}</h6>
            <p>{{'cookies.p4.1' | translate }}</p>
            <h6 class="pt-2 text-bold-600">{{'cookies.t5' | translate }}</h6>
            <p [innerHTML]="'cookies.p5.1' | translate "></p>
            <p [innerHTML]="'cookies.p5.2' | translate "></p>
            <ul>
              <li>
                {{'cookies.p5.2.1' | translate }}
              </li>
              <li>
                {{'cookies.p5.2.2' | translate }}
              </li>
            </ul>
            <p>{{'cookies.p5.3' | translate }}</p>
            <h6 class="pt-2 text-bold-600">{{'cookies.t6' | translate }}</h6>
            <p>{{'cookies.p6.1' | translate }}</p>

            <ul class="mt-2">
              <li>
                <a class="underline" href="https://support.google.com/chrome/answer/95647?hl={{lang}}" target="_blank">Google Chrome.</a>
              </li>
              <li>
                <a class="underline" href="https://support.microsoft.com/{{lang}}/windows/eliminar-y-administrar-cookies-168dab11-0753-043d-7c16-ede5947fc64d"
                  target="_blank">Internet Explorer.</a>
              </li>
              <li>
                <a class="underline" *ngIf="lang=='es'"
                  href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias"
                  target="_blank">Mozilla Firefox.</a>
                <a class="underline" *ngIf="lang!='es'"
                  href="https://support.mozilla.org/en-US/kb/block-websites-storing-cookies-site-data-firefox"
                  target="_blank">Mozilla Firefox.</a>
              </li>
              <li>
                <span class="danger" *ngIf="lang=='es'">
                  <a class="underline" href="https://support.apple.com/es-es/HT201265" target="_blank">Safari iPhone, iPad
                    {{'generics.and' | translate }} iPod touch</a>
                  & <a class="underline" href="https://support.apple.com/es-es/guide/safari/sfri11471/mac"
                    target="_blank">Safari iPhone, iPad {{'generics.and' | translate }} Safari para Mac.</a>
                </span>
                <span class="danger" *ngIf="lang!='es'">
                  <a class="underline" href="https://support.apple.com/en-en/HT201265" target="_blank">Safari iPhone, iPad
                    {{'generics.and' | translate }} iPod touch</a>
                  & <a class="underline" href="https://support.apple.com/en-en/guide/safari/sfri11471/mac"
                    target="_blank">Safari iPhone, iPad {{'generics.and' | translate }} Safari para Mac.</a>
                </span>

              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #policyPanel let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'registration.Privacy Policy' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="px-3">
      <div class="form-body">
        <div class="row">
          <div class="col-sm-12">
            <p>{{'policy.p1' | translate }}</p>
            <p class="mb-0"><strong>{{'policy.p2.1' | translate }}</strong></p>
            <ul>
              <li><p class="mb-0">{{'policy.p2.2' | translate }}</p></li>
              <li><p>{{'policy.p2.3' | translate }}</p></li>
            </ul>
            <p class="mb-0"><strong>{{'policy.p3.1' | translate }}</strong></p>
            <ul>
              <li><p class="mb-0">{{'policy.p3.2' | translate }}</p></li>
              <li><p>{{'policy.p3.3' | translate }}</p></li>
            </ul>
            <p class="mb-0"><strong>{{'policy.p4.1' | translate }}</strong></p>
            <ul>
              <li><p class="mb-0">{{'policy.p4.2' | translate }}</p></li>
              <li><p class="mb-0">{{'policy.p4.3' | translate }}</p></li>
              <li><p>{{'policy.p4.4' | translate }}</p></li>
            </ul>
            <p class="mb-0"><strong>{{'policy.p5.1' | translate }}</strong></p>
            <ul>
              <li><p class="mb-0">{{'policy.p5.2' | translate }}</p></li>
              <li><p>{{'policy.p5.3' | translate }}</p></li>
            </ul>
            <p class="mb-0"><strong>{{'policy.p6.1' | translate }}</strong></p>
            <ul>
              <li><p class="mb-0">{{'policy.p6.2' | translate }}</p></li>
              <li><p>{{'policy.p6.3' | translate }}</p></li>
            </ul>
            <p>{{'policy.p7' | translate }}</p>
            <p>Fundacion 29 de Febrero</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #contentInfoDisease let-c="close" let-d="dismiss" appendTo="body">
  <div class="modal-header" id="idHeader">
    <div class="content-header text-left">
      <h4 class="card-title text-bold-700 mb-0 primary">{{ selectedDisease }}</h4>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="closeDiseaseUndiagnosed()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body content-wrapper p-2 mt-2">
    <p>{{'land.Select a question' | translate }}:</p>
    <!--Shows a list of selectable panels-->
    <div class="list-group mb-2">
      <button class="list-group-item list-group-item-action" *ngFor="let question of questions; let i = index"
        (click)="showQuestion(question, i)" [disabled]="loadingAnswerOpenai">
        <div class="d-flex w-100 justify-content-between">
          <span class="mb-1">{{question.question}}</span>
        </div>
      </button>
      <div *ngIf="loadingAnswerOpenai" class="mt-3 center-elements">
        <p>{{'land.swal' | translate }}</p>
        <em class="fa fa-spinner info fa-2x fa-spin fa-fw"></em>
        <p class="info pointer" (click)="cancelCallQuestion();">{{'generics.Cancel' | translate }}</p>
      </div>
      <div *ngIf="!loadingAnswerOpenai && answerOpenai!=''" class="mt-3">
        <h6>{{selectedQuestion}}</h6>
        <p style="margin-bottom: 2rem;white-space:pre-wrap;">{{answerOpenai}}</p>
      </div>
      <div *ngIf="!loadingAnswerOpenai && symptomsDifferencial.length>0" class="mt-3">
        <h6>{{'land.Select the symptoms' | translate }}:</h6>
        <div class="row">
          <div *ngFor="let symptom of symptomsDifferencial; let j = index" class="col-md-6 col-xl-4">
            <div class="custom-control custom-checkbox">
              <mat-checkbox
                  class="example-margin" name="customCheck{{j}}" [(ngModel)]="symptom.checked" id="customCheck{{j}}" (change)="changeSymptom($event,j)">
                <label style="margin-top: 0.4em;white-space: normal;text-transform: none;letter-spacing: 0px;"  >
                  <span>{{symptom.name}}</span>
                </label>
              </mat-checkbox>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 center-elements">
            <button type="button" class="btn btn-info round" (click)="recalculateDifferencial()" [disabled]="loadingAnswerOpenai">{{'land.Recalculate' | translate }}</button>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="modal-footer">
    <div class="col-md-12 center-elements">
      <button type="button" class="btn btn-secondary round" (click)="closeDiseaseUndiagnosed()">{{'generics.Close' | translate }}</button>
    </div>
  </div>
</ng-template>

<ng-template #contentIntro let-c="close" let-d="dismiss" id="contentIntro" aria-labelledby="contentIntro" appendTo="body">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="closePopup()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <a id="topmodal"></a>
  <div class="modal-body">
        <div class="row text-left">
          <div class="card-body col-md-12">
            
             
            <div class="row">
              <div class="col-sm-12">
                <p class="" [innerHTML]="'land.disclaimer' | translate"></p>
              </div>
            </div>
          </div>
          <div class="col-md-12 center-elements">
            <mat-checkbox
                class="example-margin" [(ngModel)]="terms2" (change)="changeTerm($event)">
              <label style="margin-top: 0.4em;white-space: normal;text-transform: none;letter-spacing: 0px;"  >
                <span (click)="showOptions()">{{'land.check' | translate }}</span>
              </label>
            </mat-checkbox>
          </div>
        </div>
      </div>
      <div class="modal-footer row">
          <div class="form-actions col-md-12 center-elements">
                  <button type="button" class="btn round btn-info" (click)="closePopup();">{{'generics.Close' | translate }}</button>
          </div>
      </div>
</ng-template>
<ng-template #contentFeedbackDown let-c="close" let-d="dismiss">
		<div class="modal-header">
			<h4 class="card-title text-bold-500 primary">{{'land.msgimprove' | translate }}</h4>
		</div>
		<div class="modal-body">
      <form class="form" #f="ngForm">
        <div class="form-group">
          <span>{{'land.whynotexpected' | translate }}*</span>
          <div>
            <textarea #autoajustable id="textarea1" type="text" name="feedBack1input" class="autoajustable data-hj-allow" style="width: 100%;" [(ngModel)]="feedBack1input" (ngModelChange)="resizeTextArea()"></textarea>
            <small class="form-text text-muted danger" *ngIf="feedBack1input==''">{{'generics.required' | translate }}</small>
          </div>
        </div>
        <div class="form-group">
          <input class="form-control" type="email" id="Email" name="Email" placeholder="{{'generics.Email' | translate }}" ngModel required #Email="ngModel" email [(ngModel)]="feedBack2input">
          <small class="danger" *ngIf="!Email.valid && showErrorForm">{{'generics.entervalidemail' | translate }}</small>
        </div>
        <div class="">
          <mat-checkbox
              class="example-margin" name="terms2" ngModel #terms2="ngModel" id="terms2"  [(ngModel)]="checkSubscribe">
              <span style="margin-top: 0.4em;white-space: normal;text-transform: none;letter-spacing: 0px;" >{{'land.Email me' | translate }}</span>
          </mat-checkbox>
        </div>
        <div *ngIf="!sending" class="mt-2 col-md-12 center-elements">
          <div *ngIf="f.valid;then formValid else formError"></div>
          <button class="btn btn-secondary ml-1" type="button" (click)="closeFeedback()">{{'generics.Cancel' | translate }}</button>
          <ng-template #formValid><button class="btn btn-info mr-1" (click)="onSubmitFeedbackDown();"><strong>{{'generics.Send' | translate }}</strong></button></ng-template>
          <ng-template #formError><button class="btn btn-info mr-1" type="button" (click)="submitInvalidForm()"><strong>{{'generics.Send' | translate }}</strong></button></ng-template>
        </div>
        <div class="form-actions col-md-12 center-elements" *ngIf="sending">
            <span ><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></span>
        </div>
      </form>
		</div>
</ng-template>
<ng-template #contentSubs let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">DxGPT support</h4>
  </div>
  <div class="modal-body">
    <form class="form" #f="ngForm">
      <div class="form-group">
        <span class="mb-0">{{'generics.Email' | translate }} *</span>
        <div>
          <input class="form-control" type="email" id="Email" name="Email" placeholder="{{'generics.Email' | translate }}" ngModel required #Email="ngModel" autocomplete="email" email name="Email" [(ngModel)]="email">
          <small class="danger" *ngIf="!Email.valid && showErrorForm">{{'generics.entervalidemail' | translate }}</small>
        </div>
      </div>
      <div class="form-group">
        <span>{{'support.Message' | translate }} ({{'generics.Optional' | translate }}):</span>
        <div>
          <textarea #autoajustable id="textarea1" type="text" name="msgfeedBack" class="autoajustable data-hj-allow form-control" style="width: 100%;" [(ngModel)]="msgfeedBack" (ngModelChange)="resizeTextArea()"></textarea>
        </div>
      </div>
      <div class="">
        <mat-checkbox
            class="example-margin" name="terms2" ngModel #terms2="ngModel" id="terms2"  [(ngModel)]="checkSubscribe">
            <span style="margin-top: 0.4em;white-space: normal;text-transform: none;letter-spacing: 0px;" >{{'land.Email me' | translate }}</span>
        </mat-checkbox>
      </div>
      <div *ngIf="!sending" class="mt-2 col-md-12 center-elements">
        <div *ngIf="f.valid;then formValid else formError"></div>
        <button class="btn btn-secondary ml-1" type="button" (click)="closeSupport()">{{'generics.Cancel' | translate }}</button>
        <ng-template #formValid><button class="btn btn-info mr-1" (click)="onSubmitRevolution();"><strong>{{'generics.Send' | translate }}</strong></button></ng-template>
        <ng-template #formError><button class="btn btn-info mr-1" type="button" (click)="submitInvalidForm()"><strong>{{'generics.Send' | translate }}</strong></button></ng-template>
      </div>
      <div class="form-actions col-md-12 center-elements" *ngIf="sending">
          <span class=""><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></span>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #contentInfoAPP let-c="close" let-d="dismiss" appendTo="body">
  <div class="modal-header" id="idHeader">
    <div class="content-header text-left">
      <h4 class="text-bold-400 mb-0">{{ selectedDisease }}</h4>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="closeDiseaseUndiagnosed()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body content-wrapper p-2">
    <div class="row center-elements pad-logos">
      <div class="col-md-4 mb-3 p-4">
        <em class="fa fa-sun-o fa-2x"></em>
        <h4 class="mt-2 mb-0">{{'land.p1.title' | translate }}</h4>
        <span>{{'land.p1.subtitle' | translate }}</span>
        <div class="card custom-card-1 custom-card-2 p-2 pointer"
          (click)="copyText('opt1');lauchEvent('Copy sample 1');">
          <span>{{'land.p1.1' | translate }}</span> <em class="fa-solid fa-arrow-right-long"></em>
        </div>
        <div class="card custom-card-1 custom-card-2 p-2 pointer"
          (click)="copyText('opt2');lauchEvent('Copy sample 2');">
          <span>{{'land.p1.2' | translate }}</span> <em class="fa-solid fa-arrow-right-long"></em>
        </div>
      </div>
      <div class="col-md-4 mb-3 p-4">
        <em class="fa fa-rocket fa-2x"></em>
        <h4 class="mt-2 pb-1">{{'land.p2.title' | translate }}</h4>
        <div class="mt-4 card custom-card-1 p-2">
          <span>{{'land.p2.1' | translate }}</span>
        </div>
        <div class="card custom-card-1 p-2">
          <span>{{'land.p2.2' | translate }}</span>
        </div>
      </div>
      <div class="col-md-4 mb-3 p-4">
        <em class="fa fa-exclamation-triangle fa-2x"></em>
        <h4 class="mt-2 pb-1">{{'land.p3.title' | translate }}</h4>
        <div class="mt-4 card custom-card-1 p-2">
          <span>{{'land.p3.1' | translate }}</span>
        </div>
        <div class="card custom-card-1 p-2">
          <span>{{'land.p3.2' | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #contentviewDoc id="contentviewDoc" let-c="close" let-d="dismiss" appendTo="body">
  <div class="modal-header" id="idHeader">
      <div class="content-header text-left">
          <h4 class="card-title text-bold-700 mb-0 primary">{{'diagnosis.Anonymized text' | translate }}</h4>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="closeModal();">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body content-wrapper p-2" id="idBody">
      <div class="p-1">
          <div>
              <div class="">
                  <div *ngIf="resultAnonymized.length >=1" style="text-align: justify;" class="textExtractedNcr"
                      [innerHTML]="resultAnonymized | safe: 'html'"></div>
                  <div *ngIf="resultAnonymized.length < 1">
                      {{'home.placeholderError' | translate }}
                  </div>
              </div>
          </div>
      </div>
  </div>
</ng-template>
<ng-template #contentEditDescription let-c="close" let-d="dismiss" appendTo="body">
  <div class="modal-header" id="idHeader">
    <div class="content-header text-left">
      <h4 class="card-title text-bold-700 mb-0 primary">{{'land.Edit description' | translate }}</h4>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="closeModal();">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body content-wrapper p-2" id="idBody">
    <div class="p-1">
      <div>
        <div class="">
          <div class="form-group">
            <textarea #autoajustable id="textarea1" type="text" class="autoajustable searchTerm data-hj-allow"
              [(ngModel)]="medicalText" name="medicalText" placeholder="{{'land.Type here' | translate }}"
              (ngModelChange)="resizeTextArea()"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="col-md-12 center-elements">
        <button type="button" class="btn btn-secondary round" (click)="closeModal();">{{'generics.Close' | translate }}</button>
        <button type="button" class="btn btn-info round" (click)="preparingCallOpenAi('step1')"
          [attr.title]="(medicalText.length<15) ? getLiteral('land.placeholderError') : getLiteral('land.Extract')"
          [disabled]="callingOpenai">{{'generics.Save' | translate }}</button>
      </div>
    </div>
  </div>
  </ng-template> 