.center-elements{
    text-align: center;
  }

  .text-decoration-underline{
    text-decoration: underline !important;
  }
  
  .navbar{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.5rem;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 6px 0 0 rgba(0,0,0,.01),0 15px 32px 0 rgba(0,0,0,.06);
  }
  
  .swal2-styled.swal2-confirm{
    background-color: #b30000 !important;
  }
  
  .main-panel {
    margin-top: 65px;
  }

  .modal-footer{
    border-top: none !important;
  }

  
  .ModalClass-xl .modal-dialog {
    max-width: 98% !important;
  }
  .ModalClass-lg .modal-dialog {
    max-width: 65% !important;
  }

  .ModalClass-sm .modal-dialog {
    max-width: 45% !important;
  }

  @media ( max-width: 900px ){
    .ModalClass-lg .modal-dialog {
      max-width: 98% !important;
    }

    .ModalClass-sm .modal-dialog {
      max-width: 98% !important;
    }
  }

  