<!--Dark Professional Footer-->
<footer class="dark-footer">
  <div class="footer-content">
    <div class="container">
      
      <!-- Main Footer Columns -->
      <div class="footer-main">
        <div class="row">

          <!-- Column 1: DxGPT -->
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="footer-column">
              <h4 class="footer-title">{{ 'footer.C1_TITLE' | translate }}</h4>
              <ul class="footer-links">
                <li><a href="javascript:void(0)" (click)="navigateToTop('/aboutus')">{{ 'footer.C1_LINK1' | translate }}</a></li>
                <li><a href="javascript:void(0)" (click)="goToPrecision()">{{ 'footer.C1_LINK2' | translate }}</a></li>
                <li><a href="https://github.com/foundation29org/dxgpt-bench-lab/blob/main/bench/__conceptual-model-and-research-notes/evaluacion_modelos_llm_diagnostico_pediatrico_pipeline_pv4.pdf" target="_blank">{{ 'footer.C1_LINK3' | translate }}</a></li>
                <li><a href="javascript:void(0)" (click)="navigateToTop('/reports')">{{ 'footer.C1_LINK4' | translate }}</a></li>
                <li><a href="javascript:void(0)" (click)="navigateToTop('/faq')">{{ 'footer.C1_LINK5' | translate }}</a></li>
              </ul>
            </div>
          </div>

          <!-- Column 2: Colaboración -->
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="footer-column">
              <h4 class="footer-title">{{ 'footer.C2_TITLE' | translate }}</h4>
              <ul class="footer-links">
                <li><a href="javascript:void(0)" (click)="goToSociosTecnologicos()">{{ 'footer.C2_LINK1' | translate }}</a></li>
                <li><a href="javascript:void(0)" (click)="goToPatrocinadores()">{{ 'footer.C2_LINK2' | translate }}</a></li>
                <li><a href="javascript:void(0)" (click)="goToImplementaciones()">{{ 'footer.C2_LINK3' | translate }}</a></li>
                <li><a href="javascript:void(0)" (click)="goToSistemasSalud()">{{ 'footer.C2_LINK4' | translate }}</a></li>
                <li><a href="javascript:void(0)" (click)="goToColaborar()">{{ 'footer.C2_LINK5' | translate }}</a></li>
                <li><a [href]="brandingService.getDonateLink()" target="_blank" *ngIf="brandingService.shouldShowDonateLink()">{{ 'footer.C2_LINK6' | translate }}</a></li>
              </ul>

            </div>
          </div>

          <!-- Column 3: Cumplimiento -->
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="footer-column">
              <h4 class="footer-title">{{ 'footer.C3_TITLE' | translate }}</h4>
              <ul class="footer-links">
                <li><a href="javascript:void(0)" (click)="navigateToTop('/privacy-policy')">{{ 'footer.C3_LINK1' | translate }}</a></li>  
                <li><a href="javascript:;" (click)="openModalCookies()" *ngIf="!isCookiesPage">{{ 'footer.C3_LINK2' | translate }}</a></li>
              </ul>
            </div>
          </div>

          <!-- Column 4: Contact Content -->
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="footer-column">

              <!-- Contact Button -->
              <div class="contact-section mb-3">
                <button class="contact-btn" (click)="openSupport(contentSubs)">
                  <i class="fas fa-envelope me-2"></i>
                  <span>{{'footer.C4_CONTACT_BTN' | translate }}</span> 
                </button>
              </div>

              <!-- Subscribe Button -->
              <div class="subscribe-section mb-4">
                <button class="subscribe-btn" (click)="openSubscribe(subscribeModal)">
                  <i class="fas fa-bell me-2"></i>
                  <span>{{ 'footer.C4_SUBSCRIBE_BTN' | translate }}</span>
                </button>
              </div>

              <!-- Foundation Info -->
              <div class="foundation-info">
                <p class="foundation-text mb-2">
                  {{'land.Made with love by' | translate }}       
                </p>
                <a [href]="brandingService.getFoundationLink()" target="_blank" class="foundation-link">
                  <img [src]="brandingService.getFooterLogo()" 
                       alt="Foundation logo" 
                       class="foundation-logo mb-2">
                </a>

                <!-- Social Icons -->
                <div class="social-icons">
                  <a href="https://github.com/foundation29org" target="_blank" class="social-link">
                    <i class="fab fa-github"></i>
                  </a>
                  <a href="https://www.linkedin.com/company/foundation29/" target="_blank" class="social-link">
                    <i class="fab fa-linkedin"></i>
                  </a>
                  <a href="https://x.com/foundation29feb" target="_blank" class="social-link">
                    <i class="fab fa-x-twitter"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      
      <!-- Footer Bottom -->
      <div class="footer-bottom">
        <div class="row align-items-center">
          <div class="col-md-6">
            <p class="copyright-text">
              {{ 'footer.BTM_COPYRIGHT' | translate: {currentYear: currentYear} }}
            </p>
          </div>
          <div class="col-md-6 text-end">
            <p class="powered-text">
              {{ 'footer.BTM_POWERED' | translate }}
            </p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</footer>
<ng-template #contentSubs let-c="close" let-d="dismiss">
  <a id="initpopup" class="anchorSteps"></a>
  <div class="unified-modal">
  <div class="modal-header">
    <h4 class="modal-title">{{brandingService.getSupportText()}}</h4>
  </div>
  <div class="modal-body">
    <form class="unified-form" #f="ngForm">
      <div class="form-group">
        <span class="mb-0">{{ 'forms.NAME_LABEL' | translate }} *</span>
        <div>
          <input class="form-control" type="text" id="userName" name="userName" placeholder="{{ 'forms.NAME_PLACEHOLDER' | translate }}" ngModel required #userNameModel="ngModel" autocomplete="name" [(ngModel)]="userName">
          <small class="danger" *ngIf="!userNameModel.valid && showErrorForm">{{ 'forms.FIELD_REQUIRED' | translate }}</small>
        </div>
      </div>
      <div class="form-group">
        <span class="mb-0">{{ 'forms.EMAIL_LABEL' | translate }} *</span>
        <div>
          <input class="form-control" type="email" id="Email" name="email" placeholder="{{ 'forms.EMAIL_PLACEHOLDER' | translate }}" ngModel required #Email="ngModel" autocomplete="email" email [(ngModel)]="email">
          <small class="danger" *ngIf="!Email.valid && showErrorForm">{{ 'forms.FIELD_REQUIRED' | translate }}</small>
        </div>
      </div>
      <div class="form-group">
        <span>{{ 'forms.MESSAGE_LABEL' | translate }} *</span>
        <div>
          <textarea maxlength="2000" #autoajustable id="textarea1" type="text" name="msgfeedBack" class="autoajustable data-hj-allow form-control" style="width: 100%;" ngModel required #messageModel="ngModel" [(ngModel)]="msgfeedBack" (input)="autoResize($event)"></textarea>
          <small class="danger" *ngIf="!messageModel.valid && showErrorForm">{{ 'forms.FIELD_REQUIRED' | translate }}</small>
          <p class="float-end">{{ msgfeedBack.length }} / 2000</p>
        </div>
      </div>
      <div class="checkboxes-container">
        <div class="checkbox-item">
          <mat-checkbox
              name="terms3" ngModel #terms3="ngModel" id="terms3" [(ngModel)]="checkSubscribe">
              {{ 'forms.SUBSCRIBE_CHECK' | translate }}
          </mat-checkbox>
        </div>
        
        <div class="checkbox-item">
          <mat-checkbox
              name="termscontrol" ngModel #terms="ngModel" id="termscontrol" required [(ngModel)]="acceptTerms">
              {{ 'forms.TERMS_CHECK' | translate }} <a href="javascript:;" class="terms-link" (click)="openModal(termsModal)">{{ 'forms.TERMS_LINK' | translate }}</a>
          </mat-checkbox>
          <small class="danger d-block" *ngIf="!terms.valid && showErrorForm">{{ 'forms.TERMS_ERROR' | translate }}</small>       
        </div>
      </div>
      <div *ngIf="!sending" class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeSupport()">
          {{ 'generics.Cancel' | translate }}
        </button>
        <button type="button" class="btn btn-primary" 
                [disabled]="!f.valid" 
                (click)="f.valid ? onSubmitRevolution() : submitInvalidForm()">
          <strong>{{ 'generics.Send' | translate }}</strong>       
        </button>
      </div>
      <div class="form-actions col-md-12 center-elements" *ngIf="sending">
          <span class=""><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></span>
      </div>
    </form>
  </div>
  </div>
</ng-template>

<ng-template #termsModal let-c="close" let-d="dismiss">
  <div class="terms-wrapper">
    <button type="button" class="close-terms-btn" (click)="c()" aria-label="Close">
      ×
    </button>
    <app-termsform (termsAccepted)="onTermsAcceptedAndClose(c)"></app-termsform>
  </div>
</ng-template>

<!-- Subscribe Modal Template -->
<ng-template #subscribeModal let-c="close" let-d="dismiss">       
  <div class="unified-modal">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'forms.F_SUBSCRIBE_TITLE' | translate }}</h4>
  </div>
  <div class="modal-body">
    <p class="subscribe-description">
      {{ 'forms.F_SUBSCRIBE_DESCRIPTION' | translate }}
    </p>
    
    <form class="unified-form" #subscribeForm="ngForm">
      <div class="form-group">
        <span class="mb-0">{{ 'forms.NAME_LABEL' | translate }} *</span>
        <div>
          <input class="form-control" type="text" id="subscribeName" name="subscribeName" placeholder="{{ 'forms.NAME_PLACEHOLDER' | translate }}" ngModel required #subscribeNameModel="ngModel" [(ngModel)]="subscribeUserName">       
          <small class="danger" *ngIf="!subscribeNameModel.valid && showSubscribeErrorForm">{{ 'forms.FIELD_REQUIRED' | translate }}</small>
        </div>
      </div>
      
      <div class="form-group">
        <span class="mb-0">{{ 'forms.EMAIL_LABEL' | translate }} *</span>
        <div>
          <input class="form-control" type="email" id="subscribeEmail" name="subscribeEmail" placeholder="{{ 'forms.EMAIL_PLACEHOLDER' | translate }}" ngModel required #subscribeEmailModel="ngModel" email [(ngModel)]="subscribeEmail">
          <small class="danger" *ngIf="!subscribeEmailModel.valid && showSubscribeErrorForm">{{ 'forms.FIELD_REQUIRED' | translate }}</small>
        </div>
      </div>
      
      <div class="checkboxes-container">
        <div class="checkbox-item">
          <mat-checkbox
              name="subscribeTermsControl" ngModel #subscribeTerms="ngModel" id="subscribeTermsControl" required [(ngModel)]="subscribeAcceptTerms">
              {{ 'forms.TERMS_CHECK' | translate }} <a href="javascript:;" class="terms-link" (click)="openModal(termsModal)">{{ 'forms.TERMS_LINK' | translate }}</a>
          </mat-checkbox>
          <small class="danger d-block" *ngIf="!subscribeTerms.valid && showSubscribeErrorForm">{{ 'forms.TERMS_ERROR' | translate }}</small>   
        </div>
      </div>
      
      <div *ngIf="!subscribeSending" class="modal-footer">        
        <button type="button" class="btn btn-secondary" (click)="closeSubscribe()">
          {{ 'generics.Cancel' | translate }}
        </button>
        <button type="button" class="btn btn-primary" 
                [disabled]="!subscribeForm.valid" 
                (click)="subscribeForm.valid ? onSubmitSubscription() : submitInvalidSubscribeForm()">
          <strong>{{ 'forms.F_SUBSCRIBE_SUBMIT_BTN' | translate }}</strong>
        </button>
      </div>
      
      <div class="form-actions" *ngIf="subscribeSending">
        <span class=""><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></span>
      </div>
    </form>
  </div>
  </div>
</ng-template>