.pointer{
  cursor: pointer; 
}

.searchTerm {
  width: 100%;
  min-height: 150px;
  height: 150px;
  border: 3px solid #2d277d;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #2d277d;
}

.bodyfooter{
    display: flex;
  }

  @media ( max-width: 484px ){
    .bodyfooter{
        display: block;
    }
  }