.pointer{
  cursor: pointer; 
}

::ng-deep .mat-checkbox-layout {
  display: block !important;
}

.mat-checkbox-label {
  margin-top: 0.4em;
  white-space: normal;
  text-transform: none;
  letter-spacing: 0px;
}


.bodyfooter{
    display: flex;
  }

  @media ( max-width: 484px ){
    .bodyfooter{
        display: block;
    }
  }