<section class="white" style="padding-bottom: 70px !important;padding-top: 70px !important;background-color: #353540;">
  <div class="col-sm-12 offset-lg-2 col-lg-8">
    <div class="card-body" style="max-width: 1200px;">
      <div class="row m-0">
          <h2 class="white card-title text-bold-500 mb-0">
            {{'land.faqs.q1' | translate }}
            <hr class="hr-custom mb-0">
          </h2>
          <span class="text-left row margin-left-0 p-2">
            <p>{{'land.faqs.a1' | translate }}</p>
          </span>
          <h2 class="white card-title text-bold-500 pt-4 mb-0">
            {{'land.faqs.q2' | translate }}
            <hr class="hr-custom mb-0">
          </h2>
          <span class="text-left row margin-left-0 p-2">
            <p>{{'land.faqs.a2' | translate }}</p>
          </span>
          <h2 class="white card-title text-bold-500 pt-4 mb-0">
            {{'land.faqs.q3' | translate }}
            <hr class="hr-custom mb-0">
          </h2>
          <span class="text-left row margin-left-0 p-2">
            <p>{{'land.faqs.a3' | translate }}</p>
          </span>
          <h2 class="white card-title text-bold-500 pt-4 mb-0">
            {{'land.faqs.q4' | translate }}
            <hr class="hr-custom mb-0">
          </h2>
          <span class="text-left row margin-left-0 p-2">
            <p>{{'land.faqs.a4' | translate }}</p>
          </span>
          <h2 class="white card-title text-bold-500 pt-4 mb-0">
            {{'land.faqs.q5' | translate }}
            <hr class="hr-custom mb-0">
          </h2>
          <span class="text-left row margin-left-0 p-2">
            <p>{{'land.faqs.a5' | translate }}</p>
          </span>
          <h2 class="white card-title text-bold-500 pt-4 mb-0">
            {{'land.faqs.q6' | translate }}
            <hr class="hr-custom mb-0">
          </h2>
          <span class="text-left row margin-left-0 p-2">
            <p>{{'land.faqs.a6' | translate }}</p>
            <p>{{'land.faqs.a6.1' | translate }}</p>
            <p>{{'land.faqs.a6.2' | translate }}</p>
          </span>
          <h2 class="white card-title text-bold-500 pt-4 mb-0">
            {{'land.faqs.q7' | translate }}
            <hr class="hr-custom mb-0">
          </h2>
          <span class="text-left row margin-left-0 p-2">
            <p>{{'land.faqs.a7' | translate }}</p>
          </span>
          <h2 class="white card-title text-bold-500 pt-4 mb-0">
            {{'land.faqs.q8' | translate }}
            <hr class="hr-custom mb-0">
          </h2>
          <span class="text-left row margin-left-0 p-2">
            <p>{{'land.faqs.a8' | translate }}</p>
          </span>
      </div>
    </div>
</div>
</section>
<app-send-msg></app-send-msg>